<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
        <servlet-name>InstagramTokenHandler</servlet-name>
        <servlet-class>instagram.InstaOperations</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InstagramTokenHandler</servlet-name>
        <url-pattern>/handleInstaOperations/</url-pattern>
    </servlet-mapping>
</web-app>
